<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.dts.SampleD</string>
	<key>ProgramArguments</key>
	<array>
		<string>/tmp/SampleD</string>
	</array>
	<key>ServiceIPC</key>
	<true/>
	<key>Sockets</key>
	<dict>
		<key>MyListenerSocket</key>
		<dict>
			<key>SockFamily</key>
			<string>Unix</string>
			<key>SockPathMode</key>
			<integer>438</integer>
			<key>SockPathName</key>
			<string>/tmp/plcd</string>
			<key>SockType</key>
			<string>Stream</string>
		</dict>
	</dict>
</dict>
</plist>
